<div class="dashboard-default">
  <h2>Fallback Dashboard</h2>

  <p>User: {{ user.getDisplayName() }}</p>
  <p>Company: {{ company_data.company }}</p>
  <p>Journal: {{ company_data.journal }}</p>
  <p>Role: {{ company_data.role }}</p>
</div>
