<div class="page-dashboard">
  <div class="dashboard-wrapper">
    {{ page.content }}
  </div>
</div>
{% set _ = dump('EDITOR DASHBOARD TWIG LOADED') %}

<div style="padding: 50px; background: yellow; font-size: 24px;">
  ✔ EDITOR DASHBOARD TWIG IS WORKING
</div>

{{ dump(company_data) }}